<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <div class="container">

            <h2 th:text="#{footer.partners}">Partners</h2>
            <hr>

            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.rothenberger.com/">
                <img class="partners-image"  src="/images/partners/rothenberger_logo.jpg"  alt="rothenberger">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="https://www.festool.bg/">
                <img class="partners-image"  src="/images/partners/festool_logo.jpg"  alt="festool">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.tyrolit.com/">
                <img class="partners-image"  src="/images/partners/tyrolit.gif"  alt="tyrolit">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.nedo.com/">
                <img class="partners-image"  src="/images/partners/Nedo-Logo.gif"  alt="Nedo">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.kstools.de/">
                <img class="partners-image"  src="/images/partners/kstools.gif"  alt="kstools">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.henkel.com/">
                <img class="partners-image"  src="/images/partners/HenkelLogo.gif"  alt="HenkelLogo">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.bahco.com/">
                <img class="partners-image"  src="/images/partners/bahco_san.gif"  alt="bahco_san">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="http://www.atlascopco.com/us/system/splash.aspx">
                <img class="partners-image"  src="/images/partners/Atlas Copco.jpg"  alt="Atlas Copco">
            </a>
            <a target="_blank" class="card product-small-view-box product-card partners-block" href="https://www.akzonobel.com/">
                <img class="partners-image" src="/images/partners/Akzo-Nobel-logo.gif"  alt="Akzo-Nobel">
            </a>
        </div>
    </main>
</body>
</html>